javacall/src/main/mule/javacall.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--  service that's call a java class and executes a method in this class -->
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2f477288-bb53-4b1c-a4c2-b95d61f938a8" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="javacallFlow" doc:id="28d9b399-6de7-4ac9-a2d6-195e1c26c230" >
		<http:listener doc:name="Listener" doc:id="6561f415-57ce-4644-8fd3-986d4ff34061" path="/javaInvoke" config-ref="HTTP_Listener_config"/>
		<java:invoke-static doc:name="Invoke static" doc:id="7bd8c971-6709-4cc7-b145-6b5d54545188" class="javacall.StringUtility" method="splitString(java.lang.String)" target="nameList">
			<java:args ><![CDATA[#[{data : payload.names}]]]></java:args>
		</java:invoke-static>
		<ee:transform doc:name="Transform Message" doc:id="c15a4c5d-4ee6-4b2b-b066-8285e8e75c14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	names: vars.nameList
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
